<section class="mainSections">
  <div class="content">

  <ul>
    <li class="galleryBox" ng-repeat="review in reviewsIndex.all | orderBy : 'date' : true">
      <a ui-sref="reviewsShow({ id: review.id })"><div>
      <h2>{{ review.exhibition.name }}: {{review.title }}</h2>
      <h4>{{ review.user.username }}</h4>
      <h4>{{ review.date }}</h4>
    </div></a>
    </li>
  </ul>

  <br>
  <button ui-sref="reviewsNew">Click here to add a new review</button>
  <!-- <button ng-if="galleriesIndex.isUser()">Click here to add a new gallery</button> -->
</div>

</section>
