<section>
  <form ng-submit="exhibitionsEdit.update()">
    <div>
      <label>Name</label>
      <input type="text" placeholder="Exhibition Name" ng-model="exhibitionsEdit.exhibition.name">
    </div>
    <div>
      <label>Artist/s</label>
      <input type="text" placeholder="Artist/s Name" ng-model="exhibitionsEdit.exhibition.artist">
    </div>
    <div>
      <label>Gallery</label>
      <select ng-model="exhibitionsEdit.exhibition.gallery_id">
        <option ng-repeat="gallery in exhibitionsEdit.galleriesAll" value="{{ gallery.id }}">{{ gallery.name }}</option>
      </select>
    </div>
    <div>
      <label>Opening Date</label>
      <input type="date" ng-model="exhibitionsEdit.exhibition.opening_date">
    </div>
    <div>
      <label>Closing Date</label>
      <input type="date" ng-model="exhibitionsEdit.exhibition.closing_date">
    </div>
    <div>
      <label>Image</label>
      <input type="text" placeholder="Image URL" ng-model="exhibitionsEdit.exhibition.image">
    </div>
    <div>
      <label>Info/Description Text</label>
      <textarea placeholder="Text goes here..." ng-model="exhibitionsEdit.exhibition.body"></textarea>
    </div>

    <button>Update</button>
  </form>
</section>
