<section>
  <form ng-submit="reviewsNew.create()">
    <div>
      <label>Title</label>
      <input type="text" placeholder="Review Title" ng-model="reviewsNew.review.title">
    </div>
    <div>
      <label>Exhibition</label>
      <select ng-model="reviewsNew.review.exhibition_id">
        <option ng-repeat="exhibition in reviewsNew.exhibitionsAll" value="{{ exhibition.id }}">{{ exhibition.name }}</option>
      </select>
    </div>
  <div>
    <label>Review</label>
    <textarea placeholder="Text goes here..." ng-model="reviewsNew.review.body"></textarea>
  </div>

  <button>Create</button>
</form>
</section>
