<section class="mainSections">
  <div class="content">
  <h1>London Galleries</h1>
  <ul>
    <li class="galleryBox" ng-repeat="gallery in galleriesIndex.all">
      <a ui-sref="galleriesShow({ id: gallery.id })"><div>
      <h2>{{ gallery.name }}</h2>
      <h4>{{ gallery.tube }}</h4>
      <img ng-src="{{gallery.image}}" alt="{{gallery.name}}">
    </div></a>
    </li>
  </ul>

  <br>
  <button ui-sref="galleriesNew">Click here to add a new gallery</button>
  <!-- <button ng-if="galleriesIndex.isUser()">Click here to add a new gallery</button> -->
</div>
</section>
